*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    /* background: #ffe6dab9; */
}


.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    background: #ffe6dab9;
}


.nav .logo h1{
    font-weight: 600;
    font-family: sans-serif;
    color: rgb(255, 174, 0);
}

.nav .logo b{
    color: rgba(0, 60, 255, 0.183);
}

.nav ul{
    display: flex;
    list-style: none;
}

.nav ul li{
    margin-right: 30px;
}

.nav ul li a{
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 17px;
}

input{
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 600;
}


.SignIn{
    background: transparent;
    border: none;
    outline: none;
}

.SignUp{
    background: #efbe1c;
    color: black;
    font-style: normal;
    outline: none;
    border: none;
    border-radius: 5px;
}

.content{
    display: grid;
    grid-template-columns: 50% auto;
    gap: 30px;
    /* margin-top: 120px; */
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: #ffe6dab9;
}

.content .content-left{
    display: block;
    width: 100%;
}

.content .content-left .info{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 120px;

}

.content .content-left .info h2{
    font-size: 60px;
    font-family: sans-serif;
    margin-bottom: 30px;
}

.content .content-left .info p{
    font-size: 23px;
    line-height: 2pc;
    margin-bottom: 30px;
    font-family: sans-serif;
}

.content .content-left button{
    padding: 10px 23px;
    background:#ff511c;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.content .content-right{
    display: block;
    width: 100%;
    margin-top: 120px;

}

.content .content-right img{
    width: 400px;
    height: auto;
    position: relative;
    user-select: none;
    animation: rotate 10s linear infinite;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.category{
    width: 100%;
    display: flex;
    /* margin-bottom: 50px; */
    justify-content: center;
    background: #ffe6dab9;

}

.category .list-items{
    width: 90%;
    position: relative;
    margin-top: 50px;
}

.category .list-items h3{
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
    margin-bottom: 70px;
}

.category .list-items .card-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.category .card-list .card{
    width: 200px;
    height: auto;
    display: block;
    padding: 5px;
    border-radius: 10px;
    position: relative;
    background-color: #faad96;
    outline: 2px solid #faad96;
}

.category .card-list .card img{
    width: 100px;
    height: 100px;
    bottom: 160px;
    left: 50px;
    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
    position: absolute;
    /* box-shadow: 0 20px 20px #fae8e1; */
    border-radius: 50%;
}

.category .card-list .card .food-title{
    padding: 40px 0px 10px;
}

.category .card-list .card .food-title h1{
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    font-family: sans-serif;
}

.category .card .desc-food p{
    font-size: 13px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: sans-serif;
}

.category .card .price{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.category .list-items .card-list .card .food-title{
    background: #faad96;
}
.category .list-items .card-list .card .food-title h1{
    background: #faad96;
}
.category .list-items .card-list .card .desc-food p{
    background: #faad96;
}



#price-item{
    background: #faad96;
    justify-content: space-around;
}

#rupees{
    background-color: #faad96;
}

  #footer {
        background: #f5dd3fb9;
    }


    #footer-list {
        text-decoration: none;
        text-align: center;
    }

    ul {
        text-decoration: none;
        list-style-type: none;
    }
    .copyright p{
        display: flex;
        justify-content: space-around;
        color: blue;
        /* background: rgb(216, 106, 106); */
        font-size: larger;
    }